form
{
	width: 300px;
	margin: auto;
	background: lightgrey;
	border-radius: 10px;
	padding: 10px;
}
	
form fieldset {
	border: 0;
}
	
form fieldset.actions {
	text-align: right;
}
form fieldset.fields div.row {
	padding: 10 px;
}
form fieldset.fields div.row label{
	display: inline-block;
	width: 100px;
	text-align: right;
}


header.head div.title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
header.head nav.menu ul {
	list-style: none;
}
header.head nav.menu ul li {
	display: inline-block;
}
